<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/normalize.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/skeleton.css">
    <link rel="stylesheet" href="/public/Skeleton-2.0.4/css/myStyle.css">
    <title> Venues </title>
</head>
    <nav>
        <span>Add Your Own Club to our database <a href="/new"><button>here</button></a></span>
    </nav>
<body>
    <h1>Five Stars Only</h1>

    <div class="container">
        <div class="display">

        </div>
    </div>

    <% for(let i = 0; i < venue.length; i++){ %>
        <div class="container">
            <div class="DataIndexPage">
                <h4>Venue Name: <%= venue[i].name %> </h4>
                <a href="/details/<%=venue[i].id %>" ><img src="<%=venue[i].image[0]%> "</a>
            </div>
        </div>    
    <% } %>

    <div class="details">

</body>
</html>