<!DOCTYPE html>
<head>
    <head>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
        <link rel="stylesheet" href="/indexStyle.css"
        <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
      </head>
    <title> Venues </title>
</head>
    <nav>
        <div class="addButton">
            Add to our list here: 
            <a href="venues/new" class="btn-floating btn-large waves-effect waves-light red"><i class="material-icons">add</i></a>
        </div>
    </nav>
<body>

    <div class="center-align">
        <h1>Five Stars Only</h1>
    </div>

    <div class="container">
        <div class="display">

        </div>
    </div>

    <% for(let i = 0; i < venue.length; i++){ %>
        <div class="center-align">
            <div class="DataIndexPage">
                <h4>Venue : <%= venue[i].name %> </h4>
                <div class=indexImage">
                    <a href="/venues/<%=venue[i].id %>" ><img src="<%=venue[i].image[0]%>"/> </a>
                </div>    
            </div>
        </div>    
    <% } %>

    <div class="details">

</body>
</html>