
body    {
    width: 60%;
    margin: 0 auto;
}

textarea    {
    resize: none;
    height: 200px;
    overflow: hidden;
}

h1  {
    text-align: center;
}

.buttons    {
    display: inline;
    padding-bottom: 100px;
}